LEVEL-1

In [1]:
# Day 7: 30 Days of Python Programming
# =============================
# Level 1: Set Basics
# =============================

# 1. Define a set of IT companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("IT Companies:", it_companies)

IT Companies: {'Amazon', 'IBM', 'Apple', 'Microsoft', 'Google', 'Oracle', 'Facebook'}

In [2]:
# 2. Find the length of the set it_companies
print("Length of IT companies:", len(it_companies))

Length of IT companies: 7

In [3]:
# 3. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("After adding Twitter:", it_companies)

After adding Twitter: {'Amazon', 'IBM', 'Apple', 'Microsoft', 'Google', 'Oracle', 'Facebook', 'Twitter'}

In [4]:
# 4. Insert multiple IT companies at once
it_companies.update(['TCS', 'Infosys', 'Capgemini'])
print("After adding multiple companies:", it_companies)

After adding multiple companies: {'Facebook', 'Twitter', 'Amazon', 'Capgemini', 'Apple', 'Google', 'Oracle', 'Infosys', 'TCS', 'IBM', 'Microsoft'}

In [5]:
# 5. Remove one of the companies
it_companies.remove('IBM')
print("After removing IBM:", it_companies)

After removing IBM: {'Facebook', 'Twitter', 'Amazon', 'Capgemini', 'Apple', 'Google', 'Oracle', 'Infosys', 'TCS', 'Microsoft'}

In [6]:
# 6. What is the difference between remove and discard
print("""
Difference between remove() and discard():
- remove(): Removes an item from the set, but raises an error if the item does not exist.
- discard(): Removes an item if it exists, but does nothing if the item is not found.
""")

Difference between remove() and discard():
- remove(): Removes an item from the set, but raises an error if the item does not exist.
- discard(): Removes an item if it exists, but does nothing if the item is not found.

LEVEL-2

In [7]:
# =============================
# Level 2: Set Operations
# =============================

# Define sets A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 28, 27}

print("Set A:", A)
print("Set B:", B)

# 1. Join A and B
print("\nJoin A and B:", A.union(B))

Set A: {19, 20, 22, 24, 25, 26}
Set B: {19, 20, 22, 25, 27, 28}

Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [8]:
# 2. Find A intersection B
print("A intersection B:", A.intersection(B))

A intersection B: {25, 19, 20, 22}

In [9]:

# 3. Is A subset of B
print("Is A subset of B?", A.issubset(B))

Is A subset of B? False

In [10]:
# 4. Are A and B disjoint sets
print("Are A and B disjoint?", A.isdisjoint(B))

Are A and B disjoint? False

In [11]:
# 5. Join A with B and B with A
print("A union B:", A.union(B))
print("B union A:", B.union(A))

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

In [12]:
# 6. Symmetric difference between A and B
print("Symmetric difference between A and B:", A.symmetric_difference(B))

Symmetric difference between A and B: {24, 26, 27, 28}

In [13]:
# 7. Delete sets completely
del A
del B
print("Sets A and B deleted successfully!")

Sets A and B deleted successfully!

LEVEL-3

In [14]:
# =============================
# Level 3: Advanced Practice
# =============================

# 1. Convert ages to a set and compare the length of list and set
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages_set = set(ages)
print("\nOriginal list:", ages)
print("Converted set:", ages_set)
print("Length of list:", len(ages))
print("Length of set:", len(ages_set))
if len(ages) > len(ages_set):
    print("List is longer (contains duplicates).")
else:
    print("Set is longer or equal (unique values only).")

Original list: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Converted set: {19, 20, 22, 24, 25, 26}
Length of list: 10
Length of set: 6
List is longer (contains duplicates).

In [15]:
# 2. Explain difference between string, list, tuple, and set
print("""
Difference between data types:
- String: Ordered, immutable sequence of characters (e.g., 'Hello')
- List: Ordered, mutable collection that allows duplicates (e.g., [1, 2, 2, 3])
- Tuple: Ordered, immutable collection (e.g., (1, 2, 3))
- Set: Unordered, mutable collection that does NOT allow duplicates (e.g., {1, 2, 3})
""")

Difference between data types:
- String: Ordered, immutable sequence of characters (e.g., 'Hello')
- List: Ordered, mutable collection that allows duplicates (e.g., [1, 2, 2, 3])
- Tuple: Ordered, immutable collection (e.g., (1, 2, 3))
- Set: Unordered, mutable collection that does NOT allow duplicates (e.g., {1, 2, 3})

In [16]:
# 3. Unique words in a sentence
sentence = "I am a teacher and I love to inspire and teach people"
unique_words = set(sentence.split())
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'to', 'inspire', 'I', 'teach', 'teacher', 'and', 'love', 'am', 'a', 'people'}
Number of unique words: 10