Level-1

In [28]:
# Day 5: 30 Days of Python Programming

# 1. Declare an empty list
empty_list = []
print("Empty list:", empty_list)

Empty list: []

In [29]:
# 2. Declare a list with more than 5 items
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange', 'grape']
print("Fruits list:", fruits)

Fruits list: ['apple', 'banana', 'cherry', 'mango', 'orange', 'grape']

In [30]:
# 3. Find the length of your list
print("Length of fruits list:", len(fruits))

Length of fruits list: 6

In [31]:
# 4. Get the first, middle, and last item of the list
first_item = fruits[0]
middle_item = fruits[len(fruits) // 2]
last_item = fruits[-1]
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: apple
Middle item: mango
Last item: grape

In [32]:
# 5. Declare a list called mixed_data_types
mixed_data_types = ['Harika', 21, 5.4, 'Single', 'Hyderabad']
print("Mixed data types:", mixed_data_types)

Mixed data types: ['Harika', 21, 5.4, 'Single', 'Hyderabad']

In [33]:
# 6. Declare a list variable named it_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print("IT Companies:", it_companies)

IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [34]:

# 7. Print the list using print()
print("Companies:", it_companies)

Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [35]:

# 8. Print the number of companies in the list
print("Number of companies:", len(it_companies))

Number of companies: 7

In [36]:
# 9. Print the first, middle and last company
first_company = it_companies[0]
middle_company = it_companies[len(it_companies)//2]
last_company = it_companies[-1]
print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

First company: Facebook
Middle company: Apple
Last company: Amazon

In [37]:
# 10. Modify one of the companies
it_companies[2] = 'Microsoft Corporation'
print("Modified list:", it_companies)

Modified list: ['Facebook', 'Google', 'Microsoft Corporation', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [38]:

# 11. Add an IT company
it_companies.append('Infosys')
print("After adding Infosys:", it_companies)

After adding Infosys: ['Facebook', 'Google', 'Microsoft Corporation', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Infosys']

In [39]:
# 12. Insert an IT company in the middle
it_companies.insert(len(it_companies)//2, 'TCS')
print("After inserting TCS in the middle:", it_companies)

After inserting TCS in the middle: ['Facebook', 'Google', 'Microsoft Corporation', 'Apple', 'TCS', 'IBM', 'Oracle', 'Amazon', 'Infosys']

In [40]:
# 13. Change one of the names to uppercase (IBM excluded)
it_companies[1] = it_companies[1].upper()
print("After changing one name to uppercase:", it_companies)

After changing one name to uppercase: ['Facebook', 'GOOGLE', 'Microsoft Corporation', 'Apple', 'TCS', 'IBM', 'Oracle', 'Amazon', 'Infosys']

In [41]:
# 14. Join the it_companies with a string '#; '
joined_companies = '#; '.join(it_companies)
print("Joined companies:", joined_companies)

Joined companies: Facebook#; GOOGLE#; Microsoft Corporation#; Apple#; TCS#; IBM#; Oracle#; Amazon#; Infosys

In [42]:
# 15. Check if a certain company exists
company_to_check = 'Google'
print(f"Is {company_to_check} in list?", company_to_check in it_companies)

Is Google in list? False

In [43]:
# 16. Sort the list
it_companies.sort()
print("Sorted companies:", it_companies)

Sorted companies: ['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Infosys', 'Microsoft Corporation', 'Oracle', 'TCS']

In [44]:
# 17. Reverse the list
it_companies.reverse()
print("Reversed companies:", it_companies)

Reversed companies: ['TCS', 'Oracle', 'Microsoft Corporation', 'Infosys', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [45]:

# 18. Slice out the first 3 companies
print("First 3 companies:", it_companies[:3])

First 3 companies: ['TCS', 'Oracle', 'Microsoft Corporation']

In [46]:
# 19. Slice out the last 3 companies
print("Last 3 companies:", it_companies[-3:])

Last 3 companies: ['Facebook', 'Apple', 'Amazon']

In [47]:
# 20. Slice out the middle IT company/companies
mid_index = len(it_companies) // 2
if len(it_companies) % 2 == 0:
    middle_companies = it_companies[mid_index-1:mid_index+1]
else:
    middle_companies = [it_companies[mid_index]]
print("Middle company/companies:", middle_companies)

Middle company/companies: ['IBM']

In [48]:

# 21. Remove the first IT company
it_companies.pop(0)
print("After removing first company:", it_companies)

After removing first company: ['Oracle', 'Microsoft Corporation', 'Infosys', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

In [49]:
# 22. Remove the middle IT company/companies
mid_index = len(it_companies) // 2
it_companies.pop(mid_index)
print("After removing middle company:", it_companies)

After removing middle company: ['Oracle', 'Microsoft Corporation', 'Infosys', 'IBM', 'Facebook', 'Apple', 'Amazon']

In [50]:
# 23. Remove the last IT company
it_companies.pop(-1)
print("After removing last company:", it_companies)

After removing last company: ['Oracle', 'Microsoft Corporation', 'Infosys', 'IBM', 'Facebook', 'Apple']

In [51]:

# 24. Remove all IT companies
it_companies.clear()
print("After removing all companies:", it_companies)

After removing all companies: []

In [52]:
# 25. Destroy the IT companies list
del it_companies
print("IT companies list deleted successfully!")

IT companies list deleted successfully!

In [53]:
# 26. Join front_end and back_end lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
full_stack = front_end + back_end
print("Full stack:", full_stack)

Full stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [54]:
# 27. Copy and insert Python and SQL after Redux
full_stack_copy = full_stack.copy()
insert_index = full_stack_copy.index('Redux') + 1
full_stack_copy.insert(insert_index, 'Python')
full_stack_copy.insert(insert_index + 1, 'SQL')
print("Full stack after inserting Python and SQL:", full_stack_copy)

Full stack after inserting Python and SQL: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

LEVEL-2

In [55]:
# Level 2 Exercises

# 1. Given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("Original ages:", ages)

Original ages: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [56]:
# 2. Sort the list and find the min and max age
ages.sort()
print("Sorted ages:", ages)
min_age = min(ages)
max_age = max(ages)
print("Min age:", min_age)
print("Max age:", max_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26

In [57]:
# 3. Add the min age and max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)

Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [58]:
# 4. Find the median age
n = len(ages)
ages.sort()
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)

Median age: 24.0

In [59]:

# 5. Find the average age
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

Average age: 22.75

In [60]:
# 6. Find the range of the ages
age_range = max_age - min_age
print("Age range:", age_range)

Age range: 7

In [61]:
# 7. Compare (min - average) and (max - average)
diff_min_avg = abs(min_age - average_age)
diff_max_avg = abs(max_age - average_age)
print("Difference (min - average):", diff_min_avg)
print("Difference (max - average):", diff_max_avg)

Difference (min - average): 3.75
Difference (max - average): 3.25

In [62]:
# 8. Find the middle country(ies)
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print("\nCountries:", countries)
mid_index = len(countries) // 2
if len(countries) % 2 == 0:
    middle_countries = countries[mid_index-1:mid_index+1]
else:
    middle_countries = [countries[mid_index]]
print("Middle country(ies):", middle_countries)

Countries: ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
Middle country(ies): ['Finland']

In [63]:
# 9. Divide countries into two equal halves
if len(countries) % 2 == 0:
    first_half = countries[:len(countries)//2]
    second_half = countries[len(countries)//2:]
else:
    first_half = countries[:len(countries)//2 + 1]
    second_half = countries[len(countries)//2 + 1:]
print("First half:", first_half)
print("Second half:", second_half)

First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark']

In [64]:
# 10. Unpack the first three countries and the rest as scandic countries
china, russia, usa, *scandic = countries
print("\nUnpacked countries:")
print("China:", china)
print("Russia:", russia)
print("USA:", usa)
print("Scandic countries:", scandic)

Unpacked countries:
China: China
Russia: Russia
USA: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']